/** 

08. brand area 

**/

.gc-brand-area {
    padding-bottom: 100px;
}

.gc-brand-area .owl-carousel .owl-item img {
    width: auto;
}

.jc-around {
    justify-content: space-around;
}

.brand-img img {
    transition: 0.8s;
    transform-style: preserve-3d;
}

.brand-img img:hover {
    transform: rotateY(180deg);
}